<!-- <p>
  tabs works!
</p> -->

<!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->



<mat-tab-group>

  <mat-tab label="Policies">

    <div class="row">
      <app-chart-component></app-chart-component>
      <app-graph-component></app-graph-component>
    </div>
    

    <app-table></app-table>
  </mat-tab>

  <mat-tab label="Policy values">
      Policy values
  </mat-tab>

  <mat-tab label="Commissions">
      Commissions
  </mat-tab>

  <mat-tab label="Transactions">
      Transactions
  </mat-tab>

</mat-tab-group>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->